In [2]:
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
#read csv
cities_data_df_csv=pd.read_csv("weather_database/weatherpy_database.csv")
cities_data_df_csv

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,0,Esperance,AU,-33.8667,121.9000,49.55,89,6,11.07,clear sky,2021-10-26 21:11:08
1,1,Hambantota,LK,6.1241,81.1185,76.57,86,100,5.57,overcast clouds,2021-10-26 21:11:50
2,2,Lavrentiya,RU,65.5833,-171.0000,12.72,77,49,6.62,scattered clouds,2021-10-26 21:11:52
3,3,Busselton,AU,-33.6500,115.3333,48.04,92,100,6.40,overcast clouds,2021-10-26 21:08:57
4,4,East London,ZA,-33.0153,27.9116,66.96,81,91,20.36,overcast clouds,2021-10-26 21:11:55
...,...,...,...,...,...,...,...,...,...,...,...
698,698,Labuhan,ID,-6.8844,112.2051,79.02,82,100,8.70,overcast clouds,2021-10-26 21:32:17
699,699,Kawalu,ID,-7.3817,108.2082,72.03,97,100,0.51,overcast clouds,2021-10-26 21:32:19
700,700,Kankan,GN,10.3854,-9.3057,74.89,84,88,4.47,light rain,2021-10-26 21:32:22
701,701,Nurota,UZ,40.5614,65.6886,50.09,53,100,3.06,overcast clouds,2021-10-26 21:32:23
702,702,Magistralnyy,RU,56.1725,107.4458,29.97,96,81,4.74,broken clouds,2021-10-26 21:32:25

In [4]:
cities_data_df_csv= cities_data_df_csv.drop(columns=["Unnamed: 0"])

In [5]:
cities_data_df_csv

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,Esperance,AU,-33.8667,121.9000,49.55,89,6,11.07,clear sky,2021-10-26 21:11:08
1,Hambantota,LK,6.1241,81.1185,76.57,86,100,5.57,overcast clouds,2021-10-26 21:11:50
2,Lavrentiya,RU,65.5833,-171.0000,12.72,77,49,6.62,scattered clouds,2021-10-26 21:11:52
3,Busselton,AU,-33.6500,115.3333,48.04,92,100,6.40,overcast clouds,2021-10-26 21:08:57
4,East London,ZA,-33.0153,27.9116,66.96,81,91,20.36,overcast clouds,2021-10-26 21:11:55
...,...,...,...,...,...,...,...,...,...,...
698,Labuhan,ID,-6.8844,112.2051,79.02,82,100,8.70,overcast clouds,2021-10-26 21:32:17
699,Kawalu,ID,-7.3817,108.2082,72.03,97,100,0.51,overcast clouds,2021-10-26 21:32:19
700,Kankan,GN,10.3854,-9.3057,74.89,84,88,4.47,light rain,2021-10-26 21:32:22
701,Nurota,UZ,40.5614,65.6886,50.09,53,100,3.06,overcast clouds,2021-10-26 21:32:23
702,Magistralnyy,RU,56.1725,107.4458,29.97,96,81,4.74,broken clouds,2021-10-26 21:32:25

In [6]:
cities_data_df_csv.count()

City                   703
Country                698
Lat                    703
Lng                    703
Max Temp               703
Humidity               703
Cloudiness             703
Wind Speed             703
Current description    703
Date                   703
dtype: int64

In [7]:
# there are some blanks in column 'country' filtering 
cities_data_df_csv = cities_data_df_csv.loc[(cities_data_df_csv["Country"].notnull())]

In [8]:
#excluded 5 rows which had blanks in country column
cities_data_df_csv.count()

City                   698
Country                698
Lat                    698
Lng                    698
Max Temp               698
Humidity               698
Cloudiness             698
Wind Speed             698
Current description    698
Date                   698
dtype: int64

In [9]:
cities_data_df_csv

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,Esperance,AU,-33.8667,121.9000,49.55,89,6,11.07,clear sky,2021-10-26 21:11:08
1,Hambantota,LK,6.1241,81.1185,76.57,86,100,5.57,overcast clouds,2021-10-26 21:11:50
2,Lavrentiya,RU,65.5833,-171.0000,12.72,77,49,6.62,scattered clouds,2021-10-26 21:11:52
3,Busselton,AU,-33.6500,115.3333,48.04,92,100,6.40,overcast clouds,2021-10-26 21:08:57
4,East London,ZA,-33.0153,27.9116,66.96,81,91,20.36,overcast clouds,2021-10-26 21:11:55
...,...,...,...,...,...,...,...,...,...,...
698,Labuhan,ID,-6.8844,112.2051,79.02,82,100,8.70,overcast clouds,2021-10-26 21:32:17
699,Kawalu,ID,-7.3817,108.2082,72.03,97,100,0.51,overcast clouds,2021-10-26 21:32:19
700,Kankan,GN,10.3854,-9.3057,74.89,84,88,4.47,light rain,2021-10-26 21:32:22
701,Nurota,UZ,40.5614,65.6886,50.09,53,100,3.06,overcast clouds,2021-10-26 21:32:23
702,Magistralnyy,RU,56.1725,107.4458,29.97,96,81,4.74,broken clouds,2021-10-26 21:32:25

In [10]:
#Input statements are written to prompt the customer for their minimum and maximum temperature preferences. 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 89

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = cities_data_df_csv.loc[(cities_data_df_csv["Max Temp"] <= max_temp) & \
                                       (cities_data_df_csv["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
1,Hambantota,LK,6.1241,81.1185,76.57,86,100,5.57,overcast clouds,2021-10-26 21:11:50
6,Halvad,IN,23.0167,71.1833,79.09,48,10,5.26,clear sky,2021-10-26 21:11:58
8,Mahebourg,MU,-20.4081,57.7000,73.26,73,14,13.00,few clouds,2021-10-26 21:12:01
18,Bambous Virieux,MU,-20.3428,57.7575,73.22,73,19,12.91,few clouds,2021-10-26 21:12:18
20,Butaritari,KI,3.0707,172.7902,82.58,74,35,12.39,scattered clouds,2021-10-26 21:12:22
21,Ribeira Grande,PT,38.5167,-28.7000,72.00,88,75,18.41,broken clouds,2021-10-26 21:10:48
22,Marzuq,YE,14.4000,46.4667,70.23,63,3,3.58,clear sky,2021-10-26 21:12:25
24,Coahuayana,MX,18.7333,-103.6833,86.88,65,100,5.26,overcast clouds,2021-10-26 21:12:28
25,Arraial Do Cabo,BR,-22.9661,-42.0278,73.26,88,75,8.05,broken clouds,2021-10-26 21:12:29
30,Mount Isa,AU,-20.7333,139.5000,73.17,56,66,0.00,broken clouds,2021-10-26 21:12:38

In [14]:
#A new DataFrame is created based on the minimum and maximum temperature, and empty rows are dropped.
preferred_cities_df.count()

City                   281
Country                281
Lat                    281
Lng                    281
Max Temp               281
Humidity               281
Cloudiness             281
Wind Speed             281
Current description    281
Date                   281
dtype: int64

In [15]:
preferred_cities_df.to_csv("weather_database/preferred_cities_vacation.csv")

In [16]:
preferred_cities_df_csv=pd.read_csv("weather_database/preferred_cities_vacation.csv")

In [17]:
preferred_cities_df_csv

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,1,Hambantota,LK,6.1241,81.1185,76.57,86,100,5.57,overcast clouds,2021-10-26 21:11:50
1,6,Halvad,IN,23.0167,71.1833,79.09,48,10,5.26,clear sky,2021-10-26 21:11:58
2,8,Mahebourg,MU,-20.4081,57.7000,73.26,73,14,13.00,few clouds,2021-10-26 21:12:01
3,18,Bambous Virieux,MU,-20.3428,57.7575,73.22,73,19,12.91,few clouds,2021-10-26 21:12:18
4,20,Butaritari,KI,3.0707,172.7902,82.58,74,35,12.39,scattered clouds,2021-10-26 21:12:22
...,...,...,...,...,...,...,...,...,...,...,...
276,693,Wukari,NG,7.8500,9.7833,76.64,87,94,4.52,light rain,2021-10-26 21:32:08
277,696,Les Cayes,HT,18.2000,-73.7500,81.95,72,51,6.89,broken clouds,2021-10-26 21:31:10
278,698,Labuhan,ID,-6.8844,112.2051,79.02,82,100,8.70,overcast clouds,2021-10-26 21:32:17
279,699,Kawalu,ID,-7.3817,108.2082,72.03,97,100,0.51,overcast clouds,2021-10-26 21:32:19
280,700,Kankan,GN,10.3854,-9.3057,74.89,84,88,4.47,light rain,2021-10-26 21:32:22

In [18]:
preferred_cities_df_csv= preferred_cities_df_csv.drop(columns=["Unnamed: 0"])

In [19]:
preferred_cities_df_csv

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,Hambantota,LK,6.1241,81.1185,76.57,86,100,5.57,overcast clouds,2021-10-26 21:11:50
1,Halvad,IN,23.0167,71.1833,79.09,48,10,5.26,clear sky,2021-10-26 21:11:58
2,Mahebourg,MU,-20.4081,57.7000,73.26,73,14,13.00,few clouds,2021-10-26 21:12:01
3,Bambous Virieux,MU,-20.3428,57.7575,73.22,73,19,12.91,few clouds,2021-10-26 21:12:18
4,Butaritari,KI,3.0707,172.7902,82.58,74,35,12.39,scattered clouds,2021-10-26 21:12:22
...,...,...,...,...,...,...,...,...,...,...
276,Wukari,NG,7.8500,9.7833,76.64,87,94,4.52,light rain,2021-10-26 21:32:08
277,Les Cayes,HT,18.2000,-73.7500,81.95,72,51,6.89,broken clouds,2021-10-26 21:31:10
278,Labuhan,ID,-6.8844,112.2051,79.02,82,100,8.70,overcast clouds,2021-10-26 21:32:17
279,Kawalu,ID,-7.3817,108.2082,72.03,97,100,0.51,overcast clouds,2021-10-26 21:32:19
280,Kankan,GN,10.3854,-9.3057,74.89,84,88,4.47,light rain,2021-10-26 21:32:22

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df_csv[["City", "Country", "Max Temp", "Current description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Hambantota,LK,76.57,overcast clouds,6.1241,81.1185,
1,Halvad,IN,79.09,clear sky,23.0167,71.1833,
2,Mahebourg,MU,73.26,few clouds,-20.4081,57.7000,
3,Bambous Virieux,MU,73.22,few clouds,-20.3428,57.7575,
4,Butaritari,KI,82.58,scattered clouds,3.0707,172.7902,
5,Ribeira Grande,PT,72.00,broken clouds,38.5167,-28.7000,
6,Marzuq,YE,70.23,clear sky,14.4000,46.4667,
7,Coahuayana,MX,86.88,overcast clouds,18.7333,-103.6833,
8,Arraial Do Cabo,BR,73.26,broken clouds,-22.9661,-42.0278,
9,Mount Isa,AU,73.17,broken clouds,-20.7333,139.5000,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Hambantota,LK,76.57,overcast clouds,6.1241,81.1185,Bungalow 63
1,Halvad,IN,79.09,clear sky,23.0167,71.1833,"""BHAVANI KRUPA"" Jagdishbhai H. Kariya"
2,Mahebourg,MU,73.26,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
3,Bambous Virieux,MU,73.22,few clouds,-20.3428,57.7575,Casa Tia Villa
4,Butaritari,KI,82.58,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
5,Ribeira Grande,PT,72.00,broken clouds,38.5167,-28.7000,Quinta da Meia Eira
6,Marzuq,YE,70.23,clear sky,14.4000,46.4667,
7,Coahuayana,MX,86.88,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
8,Arraial Do Cabo,BR,73.26,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
9,Mount Isa,AU,73.17,broken clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona

In [23]:
hotel_df.count()

City                   281
Country                281
Max Temp               281
Current description    281
Lat                    281
Lng                    281
Hotel Name             281
dtype: int64

In [24]:
#pull up df and look
len(hotel_df)

281

In [46]:
hotel_df.head(20)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Hambantota,LK,76.57,overcast clouds,6.1241,81.1185,Bungalow 63
1,Halvad,IN,79.09,clear sky,23.0167,71.1833,"""BHAVANI KRUPA"" Jagdishbhai H. Kariya"
2,Mahebourg,MU,73.26,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
3,Bambous Virieux,MU,73.22,few clouds,-20.3428,57.7575,Casa Tia Villa
4,Butaritari,KI,82.58,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
5,Ribeira Grande,PT,72.00,broken clouds,38.5167,-28.7000,Quinta da Meia Eira
6,Marzuq,YE,70.23,clear sky,14.4000,46.4667,
7,Coahuayana,MX,86.88,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
8,Arraial Do Cabo,BR,73.26,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
9,Mount Isa,AU,73.17,broken clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
10,Chuy,UY,76.73,clear sky,-33.6971,-53.4616,Nuevo Hotel Plaza
11,Kapaa,US,82.38,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Muisne,EC,82.51,overcast clouds,0.6000,-80.0333,Quinta Samay
13,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
14,Rikitea,PF,74.66,light rain,-23.1203,-134.9692,People ThankYou
15,Tema,GH,79.65,overcast clouds,5.6670,-0.0166,Beulah Royale Hotel Tema
16,Manokwari,ID,78.10,scattered clouds,-0.8667,134.0833,Swiss Belhotel Manokwari
17,Oriximina,BR,88.48,heavy intensity rain,-1.7656,-55.8661,Pousada Tia Amélia
18,Santa Cruz,BO,87.26,few clouds,-17.8000,-63.1667,Aviador Hotel Boutique
19,Nouadhibou,MR,70.47,overcast clouds,20.9310,-17.0347,El Medina

In [50]:
#The hotel name is retrieved and added to the DataFrame, and the rows that don’t have a hotel name are dropped.  
Clean_hotel_df = hotel_df[(hotel_df["Hotel Name"]!="")]

In [51]:
Clean_hotel_df.head(20)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Hambantota,LK,76.57,overcast clouds,6.1241,81.1185,Bungalow 63
1,Halvad,IN,79.09,clear sky,23.0167,71.1833,"""BHAVANI KRUPA"" Jagdishbhai H. Kariya"
2,Mahebourg,MU,73.26,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
3,Bambous Virieux,MU,73.22,few clouds,-20.3428,57.7575,Casa Tia Villa
4,Butaritari,KI,82.58,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
5,Ribeira Grande,PT,72.00,broken clouds,38.5167,-28.7000,Quinta da Meia Eira
7,Coahuayana,MX,86.88,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
8,Arraial Do Cabo,BR,73.26,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
9,Mount Isa,AU,73.17,broken clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
10,Chuy,UY,76.73,clear sky,-33.6971,-53.4616,Nuevo Hotel Plaza
11,Kapaa,US,82.38,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Muisne,EC,82.51,overcast clouds,0.6000,-80.0333,Quinta Samay
13,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
14,Rikitea,PF,74.66,light rain,-23.1203,-134.9692,People ThankYou
15,Tema,GH,79.65,overcast clouds,5.6670,-0.0166,Beulah Royale Hotel Tema
16,Manokwari,ID,78.10,scattered clouds,-0.8667,134.0833,Swiss Belhotel Manokwari
17,Oriximina,BR,88.48,heavy intensity rain,-1.7656,-55.8661,Pousada Tia Amélia
18,Santa Cruz,BO,87.26,few clouds,-17.8000,-63.1667,Aviador Hotel Boutique
19,Nouadhibou,MR,70.47,overcast clouds,20.9310,-17.0347,El Medina
20,Ponta Do Sol,PT,70.43,few clouds,32.6667,-17.1000,Hotel do Campo

In [52]:
len(Clean_hotel_df)

264

In [53]:
#df.count() to see any empty values cells there in df
Clean_hotel_df.count()

City                   264
Country                264
Max Temp               264
Current description    264
Lat                    264
Lng                    264
Hotel Name             264
dtype: int64

In [54]:
#The DataFrame is exported as a CSV file 
Clean_hotel_df.to_csv("weather_database/hotel_df.csv")

In [5]:
#read Clean_hotel_df to csv
Clean_hotel_df_csv=pd.read_csv("weather_database/hotel_df.csv")

In [6]:
# A marker layer map with pop-up markers for the cities in the vacation DataFrame is created, and it is uploaded as a PNG
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current description	</dt><dd>{Current description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in Clean_hotel_df_csv.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = Clean_hotel_df_csv[["Lat", "Lng"]]

In [7]:
# A marker layer map with pop-up markers for the cities in the vacation DataFrame is created, and it is uploaded as a PNG
locations = Clean_hotel_df_csv[["Lat", "Lng"]]

max_temp = Clean_hotel_df_csv["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [87]:
#pick from hotel csv file 
Clean_hotel_df_csv.tail(10)

,Unnamed: 0,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
254,271,Digapahandi,IN,71.04,clear sky,19.3667,84.5833,Tiffin Hotel
255,272,Uruguaiana,BR,85.93,clear sky,-29.7547,-57.0883,Fares Turis Hotel
256,273,Touho,NC,75.70,overcast clouds,-20.7833,165.2333,Auberge Timay Evasion
257,274,Catio,GW,78.87,overcast clouds,11.2833,-15.2500,Pausada Morabedja
258,275,Kandra,IN,74.07,overcast clouds,22.8500,86.0500,B D O Colony
259,276,Wukari,NG,76.64,light rain,7.8500,9.7833,Elimtop
260,277,Les Cayes,HT,81.95,broken clouds,18.2000,-73.7500,Villa Orphee
261,278,Labuhan,ID,79.02,overcast clouds,-6.8844,112.2051,PT PPI Lamongan Tambak C
262,279,Kawalu,ID,72.03,overcast clouds,-7.3817,108.2082,KOSAN UNGU UNSIK
263,280,Kankan,GN,74.89,light rain,10.3854,-9.3057,Hotel Bate

In [88]:
# My itenary VACATION filtered INDIA - MALDIVES -SRILANKA then pick 4 cities
vacation_df = Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["Country"] == "IN") | 
                                     (Clean_hotel_df_csv["Country"] == "MV") |
                                     (Clean_hotel_df_csv["Country"] == "LK")]

In [89]:
vacation_df

,Unnamed: 0,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,0,Hambantota,LK,76.57,overcast clouds,6.1241,81.1185,Bungalow 63
1,1,Halvad,IN,79.09,clear sky,23.0167,71.1833,"""BHAVANI KRUPA"" Jagdishbhai H. Kariya"
34,36,Bhikangaon,IN,71.46,clear sky,21.8667,75.9500,Vaishno Devi Mandir shakuntala niwas
42,45,Port Blair,IN,77.04,mist,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
48,51,Siwana,IN,75.63,clear sky,25.6333,72.4167,Paras Heritage
62,65,Mushabani,IN,72.10,scattered clouds,22.5167,86.4500,"ZEE NEWS REPOTER,HOME"
64,67,Kavaratti,IN,81.86,overcast clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
70,73,Porbandar,IN,79.52,clear sky,21.6422,69.6093,Lords Inn Porbandar
95,100,Hithadhoo,MV,82.98,overcast clouds,-0.6000,73.0833,Scoop Guest House
137,147,Matara,LK,75.47,light rain,5.9485,80.5353,Amaloh Boutique Resort
157,169,Mamallapuram,IN,80.65,broken clouds,12.6264,80.1722,Radisson Blu Resort Temple Bay Mamallapuram
158,170,Trincomalee,LK,81.41,overcast clouds,8.5711,81.2335,Welcombe Hotel
184,198,Kodinar,IN,77.52,clear sky,20.7903,70.7031,residency of N.B vadhel
197,211,Dhidhdhoo,MV,81.70,overcast clouds,6.8833,73.1000,Dhidhoo beach
203,217,Ugoofaaru,MV,80.98,broken clouds,5.6667,73.0000,Ungoofaaru Inn
208,222,Sojat,IN,72.21,clear sky,25.9167,73.6667,Leela palace
254,271,Digapahandi,IN,71.04,clear sky,19.3667,84.5833,Tiffin Hotel
258,275,Kandra,IN,74.07,overcast clouds,22.8500,86.0500,B D O Colony

In [90]:
# Store vacation df to csv 
vacation_df.to_csv("weather_database/vacation_df.csv")

In [91]:
#read vacation df csv
vacation_df_csv=pd.read_csv("weather_database/vacation_df.csv")

In [101]:
vacation_df_csv.head(10)

,Unnamed: 0,Unnamed: 0.1,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,0,0,Hambantota,LK,76.57,overcast clouds,6.1241,81.1185,Bungalow 63
1,1,1,Halvad,IN,79.09,clear sky,23.0167,71.1833,"""BHAVANI KRUPA"" Jagdishbhai H. Kariya"
2,34,36,Bhikangaon,IN,71.46,clear sky,21.8667,75.9500,Vaishno Devi Mandir shakuntala niwas
3,42,45,Port Blair,IN,77.04,mist,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
4,48,51,Siwana,IN,75.63,clear sky,25.6333,72.4167,Paras Heritage
5,62,65,Mushabani,IN,72.10,scattered clouds,22.5167,86.4500,"ZEE NEWS REPOTER,HOME"
6,64,67,Kavaratti,IN,81.86,overcast clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
7,70,73,Porbandar,IN,79.52,clear sky,21.6422,69.6093,Lords Inn Porbandar
8,95,100,Hithadhoo,MV,82.98,overcast clouds,-0.6000,73.0833,Scoop Guest House
9,137,147,Matara,LK,75.47,light rain,5.9485,80.5353,Amaloh Boutique Resort

In [106]:
vacation_df_csv.drop(columns=["Unnamed: 0","Unnamed: 0.1"])

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Hambantota,LK,76.57,overcast clouds,6.1241,81.1185,Bungalow 63
1,Halvad,IN,79.09,clear sky,23.0167,71.1833,"""BHAVANI KRUPA"" Jagdishbhai H. Kariya"
2,Bhikangaon,IN,71.46,clear sky,21.8667,75.9500,Vaishno Devi Mandir shakuntala niwas
3,Port Blair,IN,77.04,mist,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
4,Siwana,IN,75.63,clear sky,25.6333,72.4167,Paras Heritage
5,Mushabani,IN,72.10,scattered clouds,22.5167,86.4500,"ZEE NEWS REPOTER,HOME"
6,Kavaratti,IN,81.86,overcast clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
7,Porbandar,IN,79.52,clear sky,21.6422,69.6093,Lords Inn Porbandar
8,Hithadhoo,MV,82.98,overcast clouds,-0.6000,73.0833,Scoop Guest House
9,Matara,LK,75.47,light rain,5.9485,80.5353,Amaloh Boutique Resort
10,Mamallapuram,IN,80.65,broken clouds,12.6264,80.1722,Radisson Blu Resort Temple Bay Mamallapuram
11,Trincomalee,LK,81.41,overcast clouds,8.5711,81.2335,Welcombe Hotel
12,Kodinar,IN,77.52,clear sky,20.7903,70.7031,residency of N.B vadhel
13,Dhidhdhoo,MV,81.70,overcast clouds,6.8833,73.1000,Dhidhoo beach
14,Ugoofaaru,MV,80.98,broken clouds,5.6667,73.0000,Ungoofaaru Inn
15,Sojat,IN,72.21,clear sky,25.9167,73.6667,Leela palace
16,Digapahandi,IN,71.04,clear sky,19.3667,84.5833,Tiffin Hotel
17,Kandra,IN,74.07,overcast clouds,22.8500,86.0500,B D O Colony

In [140]:
city_start = vacation_df_csv.loc[vacation_df_csv["City"]=="Bhikangaon"]
city_end = vacation_df_csv.loc[vacation_df_csv["City"]=="Bhikangaon"]

In [141]:
stop_1 = vacation_df_csv.loc[vacation_df_csv["City"]=="Halvad"]
stop_2 = vacation_df_csv.loc[vacation_df_csv["City"]=="Porbandar"]
stop_3 = vacation_df_csv.loc[vacation_df_csv["City"]=="Kodinar"]

In [142]:
# The latitude and longitude pairs for each of the four cities are retrieved.
#Bhikangaon IN,Halvad IN,Porbandar IN,Kodinar IN

start_coords=city_start["Lat"].to_numpy()[0], city_start["Lng"].to_numpy()[0]
end_coords =city_end["Lat"].to_numpy()[0], city_end["Lng"].to_numpy()[0]

#stop_1 
stop1_coords =stop_1["Lat"].to_numpy()[0], stop_1["Lng"].to_numpy()[0] 

#stop_2
stop2_coords = stop_2["Lat"].to_numpy()[0], stop_2["Lng"].to_numpy()[0] 

#stop_3
stop3_coords = stop_3["Lat"].to_numpy()[0], stop_3["Lng"].to_numpy()[0]

print(f'Start: {start_coords}, End: {end_coords}')
print(f'Stop 1: {stop1_coords}')
print(f'Stop 2: {stop2_coords}') 
print(f'Stop 3: {stop3_coords}')

Start: (21.8667, 75.95), End: (21.8667, 75.95)
Stop 1: (23.0167, 71.1833)
Stop 2: (21.6422, 69.6093)
Stop 3: (20.7903, 70.7031)

In [12]:
#Four DataFrames are created, one for each city on the itinerary
Bhikangaon_df = Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["City"] == "Bhikangaon")] 
Halvad_df=      Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["City"] == "Halvad") ] 
Porbandar_df=    Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["City"] == "Porbandar")]
Kodinar_df=     Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["City"] == "Kodinar")]

In [13]:
Bhikangaon_df

,Unnamed: 0,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
34,36,Bhikangaon,IN,71.46,clear sky,21.8667,75.95,Vaishno Devi Mandir shakuntala niwas

In [14]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([Bhikangaon_df,Halvad_df,Porbandar_df,Kodinar_df],ignore_index=True)
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,36,Bhikangaon,IN,71.46,clear sky,21.8667,75.9500,Vaishno Devi Mandir shakuntala niwas
1,1,Halvad,IN,79.09,clear sky,23.0167,71.1833,"""BHAVANI KRUPA"" Jagdishbhai H. Kariya"
2,73,Porbandar,IN,79.52,clear sky,21.6422,69.6093,Lords Inn Porbandar
3,198,Kodinar,IN,77.52,clear sky,20.7903,70.7031,residency of N.B vadhel

In [15]:
#A directions layer map between the cities
start_coords = (21.8667, 75.95)
stop1_coords = (23.0167, 71.1833)
stop2_coords = (21.6422, 69.6093)
stop3_coords = (20.7903, 70.7031)

fig = gmaps.figure()
itinerary_via_route = gmaps.directions_layer(start_coords,start_coords ,waypoints=[stop1_coords,stop2_coords,stop3_coords] ,show_markers=True,
    stroke_color='blue', stroke_weight=3.0)
fig.add_layer(itinerary_via_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# A marker layer map with a pop-up marker for the cities on the itinerary is created
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current description	</dt><dd>{Current description}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

locations = itinerary_df[["Lat", "Lng"]]

max_temp = itinerary_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))