In [42]:
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [43]:
#read csv
cities_data_df_csv=pd.read_csv("weather_database/weatherpy_database.csv")
cities_data_df_csv

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,0,Alofi,NU,-19.0595,-169.9187,82.29,57,40,17.27,scattered clouds,2021-10-27 23:16:23
1,1,Kavieng,PG,-2.5744,150.7967,83.55,75,53,11.70,light rain,2021-10-27 23:16:25
2,2,Caala,AO,-12.8525,15.5606,62.46,85,100,2.89,overcast clouds,2021-10-27 23:16:26
3,3,Kapaa,US,22.0752,-159.3190,84.18,72,1,5.99,clear sky,2021-10-27 23:16:27
4,4,Sao Joao Da Barra,BR,-21.6403,-41.0511,73.87,88,73,12.12,broken clouds,2021-10-27 23:16:29
...,...,...,...,...,...,...,...,...,...,...,...
700,700,Agutaya,PH,11.1480,120.9417,83.07,78,100,22.84,overcast clouds,2021-10-27 23:33:00
701,701,Sorland,NO,67.6670,12.6934,48.72,93,100,29.37,moderate rain,2021-10-27 23:33:01
702,702,Hamilton,US,39.1834,-84.5333,51.78,82,20,1.01,few clouds,2021-10-27 23:33:03
703,703,Namatanai,PG,-3.6667,152.4333,86.04,65,36,5.12,scattered clouds,2021-10-27 23:33:04
704,704,Mantua,IT,45.1667,10.7833,51.82,66,10,4.47,clear sky,2021-10-27 23:33:05

In [44]:
cities_data_df_csv= cities_data_df_csv.drop(columns=["Unnamed: 0"])

In [45]:
cities_data_df_csv

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,Alofi,NU,-19.0595,-169.9187,82.29,57,40,17.27,scattered clouds,2021-10-27 23:16:23
1,Kavieng,PG,-2.5744,150.7967,83.55,75,53,11.70,light rain,2021-10-27 23:16:25
2,Caala,AO,-12.8525,15.5606,62.46,85,100,2.89,overcast clouds,2021-10-27 23:16:26
3,Kapaa,US,22.0752,-159.3190,84.18,72,1,5.99,clear sky,2021-10-27 23:16:27
4,Sao Joao Da Barra,BR,-21.6403,-41.0511,73.87,88,73,12.12,broken clouds,2021-10-27 23:16:29
...,...,...,...,...,...,...,...,...,...,...
700,Agutaya,PH,11.1480,120.9417,83.07,78,100,22.84,overcast clouds,2021-10-27 23:33:00
701,Sorland,NO,67.6670,12.6934,48.72,93,100,29.37,moderate rain,2021-10-27 23:33:01
702,Hamilton,US,39.1834,-84.5333,51.78,82,20,1.01,few clouds,2021-10-27 23:33:03
703,Namatanai,PG,-3.6667,152.4333,86.04,65,36,5.12,scattered clouds,2021-10-27 23:33:04
704,Mantua,IT,45.1667,10.7833,51.82,66,10,4.47,clear sky,2021-10-27 23:33:05

In [46]:
cities_data_df_csv.count()

City                   705
Country                699
Lat                    705
Lng                    705
Max Temp               705
Humidity               705
Cloudiness             705
Wind Speed             705
Current description    705
Date                   705
dtype: int64

In [47]:
# there are some blanks in column 'country' filtering 
cities_data_df_csv = cities_data_df_csv.loc[(cities_data_df_csv["Country"].notnull())]

In [48]:
#excluded 5 rows which had blanks in country column
cities_data_df_csv.count()

City                   699
Country                699
Lat                    699
Lng                    699
Max Temp               699
Humidity               699
Cloudiness             699
Wind Speed             699
Current description    699
Date                   699
dtype: int64

In [49]:
cities_data_df_csv

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,Alofi,NU,-19.0595,-169.9187,82.29,57,40,17.27,scattered clouds,2021-10-27 23:16:23
1,Kavieng,PG,-2.5744,150.7967,83.55,75,53,11.70,light rain,2021-10-27 23:16:25
2,Caala,AO,-12.8525,15.5606,62.46,85,100,2.89,overcast clouds,2021-10-27 23:16:26
3,Kapaa,US,22.0752,-159.3190,84.18,72,1,5.99,clear sky,2021-10-27 23:16:27
4,Sao Joao Da Barra,BR,-21.6403,-41.0511,73.87,88,73,12.12,broken clouds,2021-10-27 23:16:29
...,...,...,...,...,...,...,...,...,...,...
700,Agutaya,PH,11.1480,120.9417,83.07,78,100,22.84,overcast clouds,2021-10-27 23:33:00
701,Sorland,NO,67.6670,12.6934,48.72,93,100,29.37,moderate rain,2021-10-27 23:33:01
702,Hamilton,US,39.1834,-84.5333,51.78,82,20,1.01,few clouds,2021-10-27 23:33:03
703,Namatanai,PG,-3.6667,152.4333,86.04,65,36,5.12,scattered clouds,2021-10-27 23:33:04
704,Mantua,IT,45.1667,10.7833,51.82,66,10,4.47,clear sky,2021-10-27 23:33:05

In [50]:
#Input statements are written to prompt the customer for their minimum and maximum temperature preferences. 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 89

In [51]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = cities_data_df_csv.loc[(cities_data_df_csv["Max Temp"] <= max_temp) & \
                                       (cities_data_df_csv["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,Alofi,NU,-19.0595,-169.9187,82.29,57,40,17.27,scattered clouds,2021-10-27 23:16:23
1,Kavieng,PG,-2.5744,150.7967,83.55,75,53,11.70,light rain,2021-10-27 23:16:25
3,Kapaa,US,22.0752,-159.3190,84.18,72,1,5.99,clear sky,2021-10-27 23:16:27
4,Sao Joao Da Barra,BR,-21.6403,-41.0511,73.87,88,73,12.12,broken clouds,2021-10-27 23:16:29
6,Lorengau,PG,-2.0226,147.2712,83.23,77,46,6.20,scattered clouds,2021-10-27 23:16:31
7,Guerrero Negro,MX,27.9769,-114.0611,78.57,34,0,12.24,clear sky,2021-10-27 23:14:11
8,Dakoro,NE,14.5106,6.7650,86.27,15,12,6.49,few clouds,2021-10-27 23:16:34
10,Jalu,LY,29.0331,21.5482,70.72,55,64,4.54,broken clouds,2021-10-27 23:16:36
11,Hobart,AU,-42.8794,147.3294,71.02,61,20,17.27,few clouds,2021-10-27 23:13:06
13,Georgetown,MY,5.4112,100.3354,80.89,92,40,5.75,scattered clouds,2021-10-27 23:16:40

In [52]:
#A new DataFrame is created based on the minimum and maximum temperature, and empty rows are dropped.
preferred_cities_df.count()

City                   272
Country                272
Lat                    272
Lng                    272
Max Temp               272
Humidity               272
Cloudiness             272
Wind Speed             272
Current description    272
Date                   272
dtype: int64

In [53]:
preferred_cities_df.to_csv("weather_database/preferred_cities_vacation.csv")

In [54]:
preferred_cities_df_csv=pd.read_csv("weather_database/preferred_cities_vacation.csv")

In [55]:
preferred_cities_df_csv

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,0,Alofi,NU,-19.0595,-169.9187,82.29,57,40,17.27,scattered clouds,2021-10-27 23:16:23
1,1,Kavieng,PG,-2.5744,150.7967,83.55,75,53,11.70,light rain,2021-10-27 23:16:25
2,3,Kapaa,US,22.0752,-159.3190,84.18,72,1,5.99,clear sky,2021-10-27 23:16:27
3,4,Sao Joao Da Barra,BR,-21.6403,-41.0511,73.87,88,73,12.12,broken clouds,2021-10-27 23:16:29
4,6,Lorengau,PG,-2.0226,147.2712,83.23,77,46,6.20,scattered clouds,2021-10-27 23:16:31
...,...,...,...,...,...,...,...,...,...,...,...
267,691,Muriti,TZ,-1.9833,32.9167,76.05,63,97,7.20,light rain,2021-10-27 23:32:46
268,696,Port Macquarie,AU,-31.4333,152.9167,76.96,55,63,6.44,broken clouds,2021-10-27 23:32:52
269,698,Natal,BR,-5.7950,-35.2094,79.45,83,40,11.50,scattered clouds,2021-10-27 23:32:38
270,700,Agutaya,PH,11.1480,120.9417,83.07,78,100,22.84,overcast clouds,2021-10-27 23:33:00
271,703,Namatanai,PG,-3.6667,152.4333,86.04,65,36,5.12,scattered clouds,2021-10-27 23:33:04

In [56]:
preferred_cities_df_csv= preferred_cities_df_csv.drop(columns=["Unnamed: 0"])

In [57]:
preferred_cities_df_csv

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,Alofi,NU,-19.0595,-169.9187,82.29,57,40,17.27,scattered clouds,2021-10-27 23:16:23
1,Kavieng,PG,-2.5744,150.7967,83.55,75,53,11.70,light rain,2021-10-27 23:16:25
2,Kapaa,US,22.0752,-159.3190,84.18,72,1,5.99,clear sky,2021-10-27 23:16:27
3,Sao Joao Da Barra,BR,-21.6403,-41.0511,73.87,88,73,12.12,broken clouds,2021-10-27 23:16:29
4,Lorengau,PG,-2.0226,147.2712,83.23,77,46,6.20,scattered clouds,2021-10-27 23:16:31
...,...,...,...,...,...,...,...,...,...,...
267,Muriti,TZ,-1.9833,32.9167,76.05,63,97,7.20,light rain,2021-10-27 23:32:46
268,Port Macquarie,AU,-31.4333,152.9167,76.96,55,63,6.44,broken clouds,2021-10-27 23:32:52
269,Natal,BR,-5.7950,-35.2094,79.45,83,40,11.50,scattered clouds,2021-10-27 23:32:38
270,Agutaya,PH,11.1480,120.9417,83.07,78,100,22.84,overcast clouds,2021-10-27 23:33:00
271,Namatanai,PG,-3.6667,152.4333,86.04,65,36,5.12,scattered clouds,2021-10-27 23:33:04

In [58]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df_csv[["City", "Country", "Max Temp", "Current description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Alofi,NU,82.29,scattered clouds,-19.0595,-169.9187,
1,Kavieng,PG,83.55,light rain,-2.5744,150.7967,
2,Kapaa,US,84.18,clear sky,22.0752,-159.3190,
3,Sao Joao Da Barra,BR,73.87,broken clouds,-21.6403,-41.0511,
4,Lorengau,PG,83.23,scattered clouds,-2.0226,147.2712,
5,Guerrero Negro,MX,78.57,clear sky,27.9769,-114.0611,
6,Dakoro,NE,86.27,few clouds,14.5106,6.7650,
7,Jalu,LY,70.72,broken clouds,29.0331,21.5482,
8,Hobart,AU,71.02,few clouds,-42.8794,147.3294,
9,Georgetown,MY,80.89,scattered clouds,5.4112,100.3354,

In [59]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [60]:
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Alofi,NU,82.29,scattered clouds,-19.0595,-169.9187,Taloa Heights
1,Kavieng,PG,83.55,light rain,-2.5744,150.7967,Nusa Island Retreat
2,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Sao Joao Da Barra,BR,73.87,broken clouds,-21.6403,-41.0511,Pousada Porto De Canoas
4,Lorengau,PG,83.23,scattered clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
5,Guerrero Negro,MX,78.57,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
6,Dakoro,NE,86.27,few clouds,14.5106,6.7650,Shagon mai liverpool
7,Jalu,LY,70.72,broken clouds,29.0331,21.5482,صاحبة الفخامة
8,Hobart,AU,71.02,few clouds,-42.8794,147.3294,Mantra on Collins Hobart
9,Georgetown,MY,80.89,scattered clouds,5.4112,100.3354,Cititel Penang

In [61]:
hotel_df.count()

City                   272
Country                272
Max Temp               272
Current description    272
Lat                    272
Lng                    272
Hotel Name             272
dtype: int64

In [62]:
#pull up df and look
len(hotel_df)

272

In [63]:
hotel_df.head(20)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Alofi,NU,82.29,scattered clouds,-19.0595,-169.9187,Taloa Heights
1,Kavieng,PG,83.55,light rain,-2.5744,150.7967,Nusa Island Retreat
2,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Sao Joao Da Barra,BR,73.87,broken clouds,-21.6403,-41.0511,Pousada Porto De Canoas
4,Lorengau,PG,83.23,scattered clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
5,Guerrero Negro,MX,78.57,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
6,Dakoro,NE,86.27,few clouds,14.5106,6.7650,Shagon mai liverpool
7,Jalu,LY,70.72,broken clouds,29.0331,21.5482,صاحبة الفخامة
8,Hobart,AU,71.02,few clouds,-42.8794,147.3294,Mantra on Collins Hobart
9,Georgetown,MY,80.89,scattered clouds,5.4112,100.3354,Cititel Penang
10,Rikitea,PF,74.23,few clouds,-23.1203,-134.9692,People ThankYou
11,Riyadh,SA,78.94,scattered clouds,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
12,Phangnga,TH,77.04,overcast clouds,8.4509,98.5298,Sunimit Mansion
13,Matay,EG,74.59,clear sky,28.4190,30.7792,Nag Aespen
14,Promissao,BR,71.71,moderate rain,-21.5367,-49.8581,Recanto Monte Cristo
15,Yeppoon,AU,82.18,few clouds,-23.1333,150.7333,Villa Mar Colina
16,Am Timan,TD,80.85,broken clouds,11.0297,20.2827,Palais du chef Canton Salamt
17,Atuona,PF,77.59,clear sky,-9.8000,-139.0333,Villa Enata
18,Fortuna,US,70.93,scattered clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna
19,Comodoro Rivadavia,AR,73.26,clear sky,-45.8667,-67.5000,Austral Hotel

In [64]:
#The hotel name is retrieved and added to the DataFrame, and the rows that don’t have a hotel name are dropped.  
Clean_hotel_df = hotel_df[(hotel_df["Hotel Name"]!="")]

In [65]:
Clean_hotel_df.head(20)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Alofi,NU,82.29,scattered clouds,-19.0595,-169.9187,Taloa Heights
1,Kavieng,PG,83.55,light rain,-2.5744,150.7967,Nusa Island Retreat
2,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Sao Joao Da Barra,BR,73.87,broken clouds,-21.6403,-41.0511,Pousada Porto De Canoas
4,Lorengau,PG,83.23,scattered clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
5,Guerrero Negro,MX,78.57,clear sky,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
6,Dakoro,NE,86.27,few clouds,14.5106,6.7650,Shagon mai liverpool
7,Jalu,LY,70.72,broken clouds,29.0331,21.5482,صاحبة الفخامة
8,Hobart,AU,71.02,few clouds,-42.8794,147.3294,Mantra on Collins Hobart
9,Georgetown,MY,80.89,scattered clouds,5.4112,100.3354,Cititel Penang
10,Rikitea,PF,74.23,few clouds,-23.1203,-134.9692,People ThankYou
11,Riyadh,SA,78.94,scattered clouds,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
12,Phangnga,TH,77.04,overcast clouds,8.4509,98.5298,Sunimit Mansion
13,Matay,EG,74.59,clear sky,28.4190,30.7792,Nag Aespen
14,Promissao,BR,71.71,moderate rain,-21.5367,-49.8581,Recanto Monte Cristo
15,Yeppoon,AU,82.18,few clouds,-23.1333,150.7333,Villa Mar Colina
16,Am Timan,TD,80.85,broken clouds,11.0297,20.2827,Palais du chef Canton Salamt
17,Atuona,PF,77.59,clear sky,-9.8000,-139.0333,Villa Enata
18,Fortuna,US,70.93,scattered clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna
19,Comodoro Rivadavia,AR,73.26,clear sky,-45.8667,-67.5000,Austral Hotel

In [66]:
len(Clean_hotel_df)

243

In [67]:
#df.count() to see any empty values cells there in df
Clean_hotel_df.count()

City                   243
Country                243
Max Temp               243
Current description    243
Lat                    243
Lng                    243
Hotel Name             243
dtype: int64

In [68]:
#The DataFrame is exported as a CSV file 
Clean_hotel_df.to_csv("weather_database/hotel_df.csv")

In [69]:
#read Clean_hotel_df to csv
Clean_hotel_df_csv=pd.read_csv("weather_database/hotel_df.csv")

In [70]:
# A marker layer map with pop-up markers for the cities in the vacation DataFrame is created, and it is uploaded as a PNG
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current description	</dt><dd>{Current description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in Clean_hotel_df_csv.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = Clean_hotel_df_csv[["Lat", "Lng"]]

In [71]:
# A marker layer map with pop-up markers for the cities in the vacation DataFrame is created, and it is uploaded as a PNG
locations = Clean_hotel_df_csv[["Lat", "Lng"]]

max_temp = Clean_hotel_df_csv["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
#pick from hotel csv file 
Clean_hotel_df_csv.tail(10)

,Unnamed: 0,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
233,259,Porto Nacional,BR,86.00,few clouds,-10.7081,-48.4172,Vila Real Hotel
234,260,Aswan,EG,78.10,clear sky,24.0934,32.9070,Nuba Nile
235,261,Lalmohan,BD,76.21,clear sky,22.3384,90.7419,Sundorbon courier service
236,262,Bayonet Point,US,79.95,overcast clouds,28.3267,-82.6834,Homewood Suites by Hilton Tampa-Port Richey
237,263,Dzaoudzi,YT,76.89,clear sky,-12.7887,45.2699,Le Rocher
238,264,Las Vegas,US,76.60,clear sky,36.1750,-115.1372,Plaza Hotel & Casino
239,266,Bairiki,KI,87.80,scattered clouds,1.3292,172.9752,Tarawa Boutique Hotel
240,268,Port Macquarie,AU,76.96,broken clouds,-31.4333,152.9167,Rydges Port Macquarie
241,269,Natal,BR,79.45,scattered clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
242,271,Namatanai,PG,86.04,scattered clouds,-3.6667,152.4333,Seagulls Inn Namatani

In [84]:
# My itenary VACATION filtered INDIA - MALDIVES -SRILANKA then pick 4 cities
vacation_df = Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["Country"] == "US")]

In [85]:
vacation_df

,Unnamed: 0,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
2,2,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,18,Fortuna,US,70.93,scattered clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna
21,21,Pacific Grove,US,77.61,clear sky,36.6177,-121.9166,Lovers Point Inn
23,23,Hilo,US,82.13,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
57,66,San Patricio,US,84.61,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
75,84,Half Moon Bay,US,76.05,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
85,95,Del Rio,US,82.51,clear sky,29.3627,-100.8968,"Holiday Inn Express & Suites del Rio, an IHG H..."
106,117,Kahului,US,85.26,few clouds,20.8947,-156.4700,Maui Seaside Hotel
121,134,Jacksonville,US,72.25,broken clouds,30.3322,-81.6556,Hyatt Regency Jacksonville Riverfront
146,163,Laguna,US,75.29,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
178,200,Nanakuli,US,87.75,overcast clouds,21.3906,-158.1547,Camp Pālehua
180,203,Iberia,US,71.67,overcast clouds,29.9502,-91.7507,back to back rv park
183,206,Saint George,US,71.64,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
195,218,Green Valley,US,76.96,clear sky,31.8543,-110.9937,Best Western Green Valley Inn
200,223,San Angelo,US,71.82,clear sky,31.4638,-100.4370,"Motel 6 San Angelo, TX"
219,244,San Joaquin,US,75.29,clear sky,37.9333,-121.3011,University Plaza Waterfront Hotel
236,262,Bayonet Point,US,79.95,overcast clouds,28.3267,-82.6834,Homewood Suites by Hilton Tampa-Port Richey
238,264,Las Vegas,US,76.60,clear sky,36.1750,-115.1372,Plaza Hotel & Casino

In [86]:
# Store vacation df to csv 
vacation_df.to_csv("weather_database/vacation_df.csv")

In [87]:
#read vacation df csv
vacation_df_csv=pd.read_csv("weather_database/vacation_df.csv")

In [88]:
vacation_df_csv.head(10)

,Unnamed: 0,Unnamed: 0.1,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,2,2,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,18,18,Fortuna,US,70.93,scattered clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna
2,21,21,Pacific Grove,US,77.61,clear sky,36.6177,-121.9166,Lovers Point Inn
3,23,23,Hilo,US,82.13,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
4,57,66,San Patricio,US,84.61,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
5,75,84,Half Moon Bay,US,76.05,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
6,85,95,Del Rio,US,82.51,clear sky,29.3627,-100.8968,"Holiday Inn Express & Suites del Rio, an IHG H..."
7,106,117,Kahului,US,85.26,few clouds,20.8947,-156.4700,Maui Seaside Hotel
8,121,134,Jacksonville,US,72.25,broken clouds,30.3322,-81.6556,Hyatt Regency Jacksonville Riverfront
9,146,163,Laguna,US,75.29,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [89]:
vacation_df_csv.drop(columns=["Unnamed: 0","Unnamed: 0.1"])

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,Fortuna,US,70.93,scattered clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna
2,Pacific Grove,US,77.61,clear sky,36.6177,-121.9166,Lovers Point Inn
3,Hilo,US,82.13,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
4,San Patricio,US,84.61,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
5,Half Moon Bay,US,76.05,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
6,Del Rio,US,82.51,clear sky,29.3627,-100.8968,"Holiday Inn Express & Suites del Rio, an IHG H..."
7,Kahului,US,85.26,few clouds,20.8947,-156.4700,Maui Seaside Hotel
8,Jacksonville,US,72.25,broken clouds,30.3322,-81.6556,Hyatt Regency Jacksonville Riverfront
9,Laguna,US,75.29,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
10,Nanakuli,US,87.75,overcast clouds,21.3906,-158.1547,Camp Pālehua
11,Iberia,US,71.67,overcast clouds,29.9502,-91.7507,back to back rv park
12,Saint George,US,71.64,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
13,Green Valley,US,76.96,clear sky,31.8543,-110.9937,Best Western Green Valley Inn
14,San Angelo,US,71.82,clear sky,31.4638,-100.4370,"Motel 6 San Angelo, TX"
15,San Joaquin,US,75.29,clear sky,37.9333,-121.3011,University Plaza Waterfront Hotel
16,Bayonet Point,US,79.95,overcast clouds,28.3267,-82.6834,Homewood Suites by Hilton Tampa-Port Richey
17,Las Vegas,US,76.60,clear sky,36.1750,-115.1372,Plaza Hotel & Casino

In [90]:
city_start = vacation_df_csv.loc[vacation_df_csv["City"]=="Laguna"]
city_end = vacation_df_csv.loc[vacation_df_csv["City"]=="Laguna"]

In [103]:
stop_1 = vacation_df_csv.loc[vacation_df_csv["City"]=="San Joaquin"]
stop_2 = vacation_df_csv.loc[vacation_df_csv["City"]=="Half Moon Bay"]
stop_3 = vacation_df_csv.loc[vacation_df_csv["City"]=="Pacific Grove"]

In [104]:
city_end

,Unnamed: 0,Unnamed: 0.1,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
9,146,163,Laguna,US,75.29,clear sky,38.421,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [93]:
# The latitude and longitude pairs for each of the four cities are retrieved.

start_coords=city_start["Lat"].to_numpy()[0], city_start["Lng"].to_numpy()[0]
end_coords =city_end["Lat"].to_numpy()[0], city_end["Lng"].to_numpy()[0]

#stop_1 
stop1_coords =stop_1["Lat"].to_numpy()[0], stop_1["Lng"].to_numpy()[0] 

#stop_2
stop2_coords = stop_2["Lat"].to_numpy()[0], stop_2["Lng"].to_numpy()[0] 

#stop_3
stop3_coords = stop_3["Lat"].to_numpy()[0], stop_3["Lng"].to_numpy()[0]

print(f'Start: {start_coords}, End: {end_coords}')
print(f'Stop 1: {stop1_coords}')
print(f'Stop 2: {stop2_coords}') 
print(f'Stop 3: {stop3_coords}')

Start: (38.421, -121.4238), End: (38.421, -121.4238)
Stop 1: (37.9333, -121.3011)
Stop 2: (37.4636, -122.4286)
Stop 3: (36.6177, -121.9166)

In [111]:
#Four DataFrames are created, one for each city on the itinerary
df_1 = Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["City"] == "Laguna")] 
df_2 = Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["City"] == "San Joaquin") ] 
df_3 = Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["City"] == "Half Moon Bay")]
df_4 = Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["City"] == "Pacific Grove")]

In [112]:
df_1

,Unnamed: 0,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
146,163,Laguna,US,75.29,clear sky,38.421,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [116]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([df_1,df_2,df_3,df_4],ignore_index=True)
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,163,Laguna,US,75.29,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
1,244,San Joaquin,US,75.29,clear sky,37.9333,-121.3011,University Plaza Waterfront Hotel
2,84,Half Moon Bay,US,76.05,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
3,21,Pacific Grove,US,77.61,clear sky,36.6177,-121.9166,Lovers Point Inn

In [117]:
#A directions layer map between the cities
start_coords = (38.421, -121.4238)
stop1_coords = (37.9333, -121.3011)
stop2_coords = (37.4636, -122.4286)
stop3_coords = (36.6177, -121.9166)

fig = gmaps.figure()
itinerary_via_route = gmaps.directions_layer(start_coords,start_coords ,waypoints=[stop1_coords,stop2_coords,stop3_coords] ,show_markers=True,
    stroke_color='blue', stroke_weight=3.0)
fig.add_layer(itinerary_via_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [118]:
# A marker layer map with a pop-up marker for the cities on the itinerary is created
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current description	</dt><dd>{Current description}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

locations = itinerary_df[["Lat", "Lng"]]

max_temp = itinerary_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))