## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_database/cities_mod6.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hovd,48.0056,91.6419,34.92,43,78,1.30,MN,2021-10-22 21:50:24
1,1,Namibe,-15.1961,12.1522,65.01,70,4,11.48,AO,2021-10-22 21:50:25
2,2,Provideniya,64.3833,-173.3000,26.76,67,100,9.04,RU,2021-10-22 21:50:25
3,3,Ushuaia,-54.8000,-68.3000,51.46,43,40,13.80,AR,2021-10-22 21:50:25
4,4,Albany,42.6001,-73.9662,56.26,65,100,7.11,US,2021-10-22 21:48:10

In [4]:
city_data_df.rename(columns= {"Unnamed: 0" : "City-id"}, inplace = True)
city_data_df

,city-id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hovd,48.0056,91.6419,34.92,43,78,1.30,MN,2021-10-22 21:50:24
1,1,Namibe,-15.1961,12.1522,65.01,70,4,11.48,AO,2021-10-22 21:50:25
2,2,Provideniya,64.3833,-173.3000,26.76,67,100,9.04,RU,2021-10-22 21:50:25
3,3,Ushuaia,-54.8000,-68.3000,51.46,43,40,13.80,AR,2021-10-22 21:50:25
4,4,Albany,42.6001,-73.9662,56.26,65,100,7.11,US,2021-10-22 21:48:10
...,...,...,...,...,...,...,...,...,...,...
679,679,Buncrana,55.1333,-7.4500,45.52,94,97,5.75,IE,2021-10-22 21:53:47
680,680,Port Hardy,50.6996,-127.4199,53.78,76,75,5.75,CA,2021-10-22 21:53:48
681,681,Rabo De Peixe,37.8000,-25.5833,69.31,68,40,8.05,PT,2021-10-22 21:53:48
682,682,Tromso,69.6496,18.9570,30.38,59,40,2.30,NO,2021-10-22 21:53:49
683,683,Heidenau,50.9722,13.8674,47.01,83,40,1.99,DE,2021-10-22 21:53:49

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 89

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,city-id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,Vila Velha,-20.3297,-40.2925,73.35,78,75,5.75,BR,2021-10-22 21:50:26
7,7,Hilo,19.7297,-155.0900,85.28,65,1,5.75,US,2021-10-22 21:49:28
10,10,Avarua,-21.2078,-159.7750,73.45,60,90,4.61,CK,2021-10-22 21:50:27
14,14,Butaritari,3.0707,172.7902,82.54,78,94,17.40,KI,2021-10-22 21:50:28
20,20,Atar,20.5169,-13.0499,79.45,19,27,6.64,MR,2021-10-22 21:50:30
22,22,Hervey Bay,-25.2986,152.8535,80.04,83,23,15.03,AU,2021-10-22 21:50:31
24,24,Kirakira,-10.4544,161.9205,83.86,63,24,9.01,SB,2021-10-22 21:50:31
35,35,Hithadhoo,-0.6000,73.0833,81.30,74,39,9.24,MV,2021-10-22 21:50:34
37,37,Rikitea,-23.1203,-134.9692,74.25,82,100,21.52,PF,2021-10-22 21:47:05
39,39,Stephenville,32.2207,-98.2023,84.54,49,1,5.75,US,2021-10-22 21:50:35

In [8]:
preferred_cities_df.to_csv("weather_database/preferred_cities.csv")

In [9]:
preferred_cities_df_csv=pd.read_csv("weather_database/preferred_cities.csv")

In [12]:
preferred_cities_df_csv

,Unnamed: 0,city-id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,5,5,Vila Velha,-20.3297,-40.2925,73.35,78,75,5.75,BR,2021-10-22 21:50:26
1,7,7,Hilo,19.7297,-155.0900,85.28,65,1,5.75,US,2021-10-22 21:49:28
2,10,10,Avarua,-21.2078,-159.7750,73.45,60,90,4.61,CK,2021-10-22 21:50:27
3,14,14,Butaritari,3.0707,172.7902,82.54,78,94,17.40,KI,2021-10-22 21:50:28
4,20,20,Atar,20.5169,-13.0499,79.45,19,27,6.64,MR,2021-10-22 21:50:30
...,...,...,...,...,...,...,...,...,...,...,...
259,664,664,Sikonge,-5.6333,32.7667,78.58,37,100,0.60,TZ,2021-10-22 21:53:43
260,669,669,Sanchez,19.2281,-69.6137,86.02,70,20,6.91,DO,2021-10-22 21:53:44
261,672,672,Coruripe,-10.1256,-36.1756,78.31,85,3,12.24,BR,2021-10-22 21:53:45
262,673,673,Payo,-3.7508,103.6372,71.80,96,100,1.72,ID,2021-10-22 21:53:46
263,678,678,Correntina,-13.3433,-44.6367,73.78,82,100,9.71,BR,2021-10-22 21:53:47

In [13]:
preferred_cities_df_csv.drop(columns=["Unnamed: 0"])

,city-id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,5,Vila Velha,-20.3297,-40.2925,73.35,78,75,5.75,BR,2021-10-22 21:50:26
1,7,Hilo,19.7297,-155.0900,85.28,65,1,5.75,US,2021-10-22 21:49:28
2,10,Avarua,-21.2078,-159.7750,73.45,60,90,4.61,CK,2021-10-22 21:50:27
3,14,Butaritari,3.0707,172.7902,82.54,78,94,17.40,KI,2021-10-22 21:50:28
4,20,Atar,20.5169,-13.0499,79.45,19,27,6.64,MR,2021-10-22 21:50:30
...,...,...,...,...,...,...,...,...,...,...
259,664,Sikonge,-5.6333,32.7667,78.58,37,100,0.60,TZ,2021-10-22 21:53:43
260,669,Sanchez,19.2281,-69.6137,86.02,70,20,6.91,DO,2021-10-22 21:53:44
261,672,Coruripe,-10.1256,-36.1756,78.31,85,3,12.24,BR,2021-10-22 21:53:45
262,673,Payo,-3.7508,103.6372,71.80,96,100,1.72,ID,2021-10-22 21:53:46
263,678,Correntina,-13.3433,-44.6367,73.78,82,100,9.71,BR,2021-10-22 21:53:47

In [15]:
preferred_cities_df_csv.isnull().count()

Unnamed: 0    264
city-id       264
City          264
Lat           264
Lng           264
Max Temp      264
Humidity      264
Cloudiness    264
Wind Speed    264
Country       264
Date          264
dtype: int64

In [5]:
# 4a. Determine if there are any empty rows.# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

#noempty rows if some rows with Nan on any column 
#preferred_cities_df_csv.dropna()

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df_csv[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

KeyError: "['Current Description'] not in index"

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure