In [1]:
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
city_data_df = pd.read_csv("weather_database/cities.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Eenhana,-17.4667,16.3333,90.32,13,30,10.58,NaN,2021-10-21 15:38:35
1,1,Saint-Philippe,-21.3585,55.7679,74.79,77,50,7.61,RE,2021-10-21 15:35:42
2,2,Chuy,-33.6971,-53.4616,68.68,48,0,5.32,UY,2021-10-21 15:38:35
3,3,Yinchuan,38.4681,106.2731,48.67,25,42,3.22,CN,2021-10-21 15:38:35
4,4,Tiksi,71.6872,128.8694,14.43,95,100,12.75,RU,2021-10-21 15:38:36

In [4]:
city_data_df.drop(columns=["Unnamed: 0"])

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Eenhana,-17.4667,16.3333,90.32,13,30,10.58,NaN,2021-10-21 15:38:35
1,Saint-Philippe,-21.3585,55.7679,74.79,77,50,7.61,RE,2021-10-21 15:35:42
2,Chuy,-33.6971,-53.4616,68.68,48,0,5.32,UY,2021-10-21 15:38:35
3,Yinchuan,38.4681,106.2731,48.67,25,42,3.22,CN,2021-10-21 15:38:35
4,Tiksi,71.6872,128.8694,14.43,95,100,12.75,RU,2021-10-21 15:38:36
...,...,...,...,...,...,...,...,...,...
533,Lobito,-12.3481,13.5456,77.16,77,36,9.22,AO,2021-10-21 15:41:13
534,Aleksandrov Gay,50.1470,48.5704,48.74,40,100,22.59,RU,2021-10-21 15:41:14
535,Srikakulam,18.3000,83.9000,81.05,80,86,3.09,IN,2021-10-21 15:41:14
536,Tiarei,-17.5333,-149.3333,75.22,80,81,4.07,PF,2021-10-21 15:41:14
537,Bara,10.3744,10.7288,92.21,42,44,2.01,NG,2021-10-21 15:37:16

In [5]:
city_data_df.dtypes

Unnamed: 0      int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [ ]:
# city_data_df.rename(columns= {"Unnamed: 0" : "city-id"}, inplace = True)

In [9]:
#count () shows blanks 
city_data_df.count()

Unnamed: 0    538
City          538
Lat           538
Lng           538
Max Temp      538
Humidity      538
Cloudiness    538
Wind Speed    538
Country       533
Date          538
dtype: int64

In [19]:
clean_city_data_df = city_data_df.loc[(city_data_df["Country"].notnull())]

In [20]:
clean_city_data_df.count()

Unnamed: 0    533
City          533
Lat           533
Lng           533
Max Temp      533
Humidity      533
Cloudiness    533
Wind Speed    533
Country       533
Date          533
dtype: int64

In [ ]:
#drop these rows with no values

In [ ]:
# Configure gmaps to use your Google API key.
#gmaps.configure(api_key=g_key)

In [ ]:
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
#gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

In [ ]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
locations = city_data_df[["Lat", "Lng"]]
Cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
locations = city_data_df[["Lat", "Lng"]]
Wind_Speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Wind_Speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

In [ ]:
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [ ]:
# cities with weather between 75 to 89
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

In [ ]:
preferred_cities_df.to_csv("preferred_cities.csv")

In [ ]:
preferred_cities_df_csv=pd.read_csv("preferred_cities.csv")

In [ ]:
preferred_cities_df_csv

In [ ]:
preferred_cities_df_csv.drop(columns=["Unnamed: 0"])

In [ ]:
preferred_cities_df_csv.notnull().sum()

In [ ]:
preferred_cities_df_csv.isnull().sum()

In [ ]:
preferred_cities_df_csv.count()

In [ ]:
#country have 3 nulls
#preferred_cities_df["Country"] = preferred_cities_df["Country"].fillna("no country",inplace=True)

In [ ]:
preferred_cities_df_csv

In [ ]:
#Opuwo Namibia
preferred_cities_df_csv.count()

In [ ]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df_csv[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.tail(10)

In [ ]:
hotel_df["Country"].fillna("No country", inplace=True)

In [ ]:
hotel_df.head(10)

In [ ]:
hotel_df.count()

In [ ]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gmap_api_key,
    "location": "48.8566, 2.3522"
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [ ]:
len(hotel_df)

In [ ]:
hotel_df

In [ ]:
hotel_df.to_csv("hotels.csv",index=False)

**Run All cell below to save api call**

In [ ]:
hotel_df_csv=pd.read_csv("hotels.csv")
hotel_df_csv

In [ ]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [ ]:
#Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig